- var page = 'dapai'
doctype html
html(lang="zh-CN")
  
  head
    include ../inc/meta

    include ../inc/ogp
    +ogp('电脑麻将: 切哪张解答器', '由电脑麻将 AI 解答切牌问题')

    include ../inc/style
    include ../inc/script

  body.demo
    include ../inc/loaderr
    include ../inc/navi
    include ../inc/loaddata
    include ../inc/resize

    include ../inc/board
    .version ver. #{version}
    
    #demo
      form
        div 牌姿:
          input(name="paistr" type="text")
          input(type="submit" value="确定")
          input(type="reset" value="清空")
        div
          span
            |  场风: 
            select(name="zhuangfeng")
              option(value="0" selected) 东
              option(value="1") 南
              option(value="2") 西
              option(value="3") 北
            |  自风: 
            select(name="menfeng")
              option(value="0") 东
              option(value="1" selected) 南
              option(value="2") 西
              option(value="3") 北
          span.xun
            select(name="xun")
              - var n = 0
              while n++ < 18
                if n == 7
                  option(value=n selected) 第 #{n} 巡
                else
                  option(value=n) 第 #{n} 巡
          span.
            宝牌指示牌:
            <input name="baopai" type="text"><input name="baopai" type="text"><input name="baopai" type="text"><input name="baopai" type="text"><input name="baopai" type="text">
          span
            label
              input(name="hongpai" type="checkbox" checked)
              |  有红宝牌
        div
          label
            input(name="heinfo"  type="checkbox")
            |  舍牌/副露面子
        div.heinfo
          each player in [ '我','下家','对面','上家' ]
            div
              span #{player}: 
              input(name="hestr" type="text")
      hr

      .shan.baopai
        span.baopai
      .shoupai
        .bingpai
        .fulou

      .analyzer
        table.dapai
          tr.row
            td.p
            td.xiangting
            td.eval
            td.tingpai
